<button mat-button><a routerLink="/home" routerLinkActive="active">BACK</a></button>

<mat-card>
  <mat-card-header>
    <img mat-card-avatar
      src="https://c4.wallpaperflare.com/wallpaper/756/10/466/avatar-neytiri-navi-face-hd-avatar-movie-character-wallpaper-preview.jpg" />
    <mat-card-title>Issue Name</mat-card-title>
    <mat-card-subtitle>Issue Description</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image
    src="https://ewscripps.brightspotcdn.com/dims4/default/fffdffe/2147483647/strip/true/crop/640x360+0+20/resize/1280x720!/quality/90/?url=https%3A%2F%2Fmediaassets.wxyz.com%2Fphoto%2F2018%2F07%2F12%2FScreen%20Shot%202018-07-12%20at%2012.29.32%20PM_1531413159385.png_92210439_ver1.0_640_480.jpg" />
  <mat-card-content>
    Issue long description goes here
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>RE-ASSIGN</button>
  </mat-card-actions>
</mat-card>