<button mat-flat-button color="primary" (click)="onDisplayCreate(true)">Create</button>
<div *ngIf="displayCreate">
  <app-task-create></app-task-create>
</div>

<table mat-table [dataSource]="tasks" class="mat-elevation-z8" style="width: 100%;">
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef> Title </th>
    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
  </ng-container>

  <ng-container matColumnDef="department">
    <th mat-header-cell *matHeaderCellDef> Department </th>
    <td mat-cell *matCellDef="let element"> {{element.department}} </td>
  </ng-container>

  <ng-container matColumnDef="priority">
    <th mat-header-cell *matHeaderCellDef> priority </th>
    <td mat-cell *matCellDef="let element"> {{element.priority}} </td>
  </ng-container>

  <ng-container matColumnDef="state">
    <th mat-header-cell *matHeaderCellDef> state </th>
    <td mat-cell *matCellDef="let element"> {{element.state}} </td>
  </ng-container>

  <ng-container matColumnDef="assigned_to">
    <th mat-header-cell *matHeaderCellDef> assigned_to </th>
    <td mat-cell *matCellDef="let element"> {{element.assigned_to}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let element">
      <button mat-button><a routerLink="/tasks/1" routerLinkActive="active">OPEN</a></button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>